@font-face {
  font-family: "Inter Regular";
  src: local("Inter Regular"), url("../fonts/Inter/Inter-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Semibold";
  src: local("Inter Semibold"), url("../fonts/Inter/Inter-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: "Inter Bold";
  src: local("Inter Bold"), url("../fonts/Inter/Inter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins Regular';
  src: local("Poppins Regular"), url("../fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: local("Poppins SemiBold"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format('truetype');
}

body {
  overflow: hidden;
  width: auto;
  height: auto;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 124px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(38, 38, 38, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(38, 38, 38, 0.3);
  background-color: #F1F1F2;
}

label, form small {
  font-size: 12px;
  font-family: "Inter Regular";
  color: #8A8C92;
  height: 16px;
}

/* Head settings*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins SemiBold";
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

/* Button settings*/
.btn {
  font: 14px "Inter Bold";
  padding: 18px 43px;
  border-radius: 8px;
}

.btn.squad {
  padding: 18px 18px;
}

.btn-purple {
  border: 1px solid transparent;
  background-color: #89238A;
  color: white;
}

.btn-purple.squad {
  padding: 18px 18px;
}

.btn-purple:hover {
  border: 1px solid transparent;
  background-color: #A75BAA;
}

.btn-purple:disabled {
  background-color: #89238A;
  pointer-events: none;
  opacity: 0.3;
}

.btn-rounded-purple {
  border: 1px solid #89238A;
  background-color: transparent;
  color: #89238A;
}

.btn-rounded-purple:hover {
  border: 1px solid #A75BAA;
  background-color: transparent;
  color: #A75BAA;
}

.btn-rounded-purple:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.btn-grey {
  border: 1px solid transparent;
  background-color: #F1F1F2;
  color: #525359;
}

.btn-grey:hover {
  border: 1px solid transparent;
  background-color: #525359;
  filter: brightness(120%);
}

/*Icon toggle Courses*/
.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: none;
}

.message-box .dropdown-toggle::after,
.notification-box .dropdown-toggle::after,
.btn-menu.dropdown-toggle::after {
  display: none;
}

/* Dropdown settings*/
.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item span {
  margin-right: 12px;
  width: 17px;
}

.dropdown-menu {
  background: #FFFFFF;
  border: 1px solid #F1F1F2;
  box-shadow: 0px 12px 23px rgba(53, 55, 60, 0.1);
  border-radius: 8px;
}

/* Dropdown settings - MESSAGES AND NOTIFICATIONS */
.message-btn img,
.notification-btn img {
  width: 19px;
}

.message-btn:hover img {
  content: url("../../assets/img/utils/ico-message-purple.svg");
}

.notification-btn:hover img {
  content: url("../../assets/img/utils/ico-bell-purple.svg");
}

.btn.btn-transparent.dropdown-toggle:hover,
.btn.btn-transparent.dropdown-toggle:focus,
.btn.btn-transparent.dropdown-toggle:active,
.show > .btn.btn-transparent.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

/* Dropdown settings - PROFILE */
.message-btn,
.notification-btn,
.profile-btn {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px;
  border: none;
  border-radius: 8px;
}

.btn.btn-white.dropdown-toggle:hover,
.btn.btn-white.dropdown-toggle:focus,
.btn.btn-white.dropdown-toggle:active,
.show > .btn.btn-white.dropdown-toggle {
  color: #fff;
  background-color: #F1F1F2;
  border-color: transparent;
}

.profile-btn .username {
  font: 14px "Inter Bold";
  color: #525359;
}

.profile-btn .user-mail {
  font: 14px "Inter Regular";
  color: #8A8C92;
}

.profile-btn::after {
  display: flex;
  align-items: center;
  width: 8px;
  height: 4px;
  content: url("../../assets/img/utils/ico-arrow-dropdown.svg");
  border: none;
  padding: 0 16px;
}

.profile-box .dropdown-menu {
  border: 1px solid #F1F1F2;
}

.profile-box .dropdown-menu.show {
  min-width: 100%;
}

.profile-box .dropdown-item,
.profile-box .dropdown-item a {
  font: 16px "Inter SemiBold";
  color: #090E11;
  text-decoration: none;
}

/* title page */
.title-page {
  font: 48px "Poppins SemiBold";
}

.dropdown .btn-menu.dropdown-grey {
  height: auto;
  background: #F1F1F2;
  width: 204px;
  color: #090E11;
  padding-right: 63px;
  margin-left: 15px;
}

/* Utils */
.cursor-pointer {
  cursor: pointer;
}

.cropper {
  max-height: 300px;
  width: 100%;
}


@media (max-width: 640px) {
  /* Head settings*/
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
  }

}
